<div class="content-full-width auth-wrapper">
  <div class="sp-form box-shadow">
    <div class="sp-form__head">
      <span class="sp-form__h-text">Shi Center</span>
    </div>
    <form class="sp-form__form" (ngSubmit)="submit()">
      <div class="form-group" [ngClass]="{'has-error': iEmail.invalid && (iEmail.dirty || iEmail.touched)}">
        <div class="input-icon-wrap">
          <input type="email" placeholder="Email" class="input form-control" id="email" name="email" [(ngModel)]="email" #iEmail="ngModel" required>
          <i class="material-icons i-icon">email</i>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': iPassword.invalid && (iPassword.dirty || iPassword.touched)}">
        <div class="input-icon-wrap">
          <input type="password" placeholder="Password" class="input form-control" id="password" name="password" [(ngModel)]="password" #iPassword="ngModel" required>
          <i class="material-icons i-icon">lock</i>
        </div>
      </div>

      <div class="form-group sp-form__buttons">
        <button type="submit" class="btn btn-primary" *ngIf="!isChecking" (click)="isChecking = true">Login</button>
        <button type="button" class="btn btn-primary btn-lg btn-loading" *ngIf="isChecking" (click)="isChecking = false">
          <span class="btn-loading__text">Login</span>
          <div class="btn-loading__wrap">
            <div class="btn-loading__bar"></div>
          </div>
        </button>
      </div>
      <div class="txt-center">
        <a routerLink="/auth/forgot-password" class="sp-form__link">Forgot password?</a>
      </div>
    </form>
  </div>
</div>
