.field-wrap, .form-control, .input, .textarea {
  @include field-border;
}

.input {
  height: 40px;
}

.form-group {
  margin-bottom: 15px;

  label {
    display: block;
    width: 100%;
    margin-bottom: 6px;
  }
}

.fg-basic {
  width: 180px;
  margin-right: 15px;
}

.form-control {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
}

.input, .textarea {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $text-color-gray-light;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $text-color-gray-light;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $text-color-gray-light;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $text-color-gray-light;
  }
}


//**********------------------------------------------------------------------------------------------------------------
//***   Error
//
.form-group {
  &.has-error {
    .input, .textarea {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $error-color;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $error-color;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $error-color;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $error-color;
      }
    }

    .input-icon-wrap {
      .i-icon {
        color: $error-color;
      }
    }

    .field-wrap, .form-control, .input, .textarea {
      border-color: $error-color;
    }
  }
}

//**********------------------------------------------------------------------------------------------------------------
//***   Input
//
.input-icon-wrap {
  position: relative;

  .input {
    padding-left: 40px;
  }

  .i-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: $text-color-gray-light;
  }
}

.input-icon {

}

.input-icon-wrap-right {
  position: relative;

  .input {
    padding-right: 50px;
  }

  .i-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: $text-color-gray-light;
  }

  .ii-currency {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #f6f6f6;
    color: rgba(0,0,0,0.3);
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-weight: 500;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}



//**********------------------------------------------------------------------------------------------------------------
//***   Buttons
//
.btn {
  border-radius: 2px;
  outline: none;
  border: none;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 15px;
  font-weight: 500;
  @include transition-color-bkg-border;
}
.btn-default {
  background-color: #ffffff;
}

.btn-primary {
  background-color: $primary-color;
  color: #ffffff;

  &:hover {
    background-color: $primary-color-dark;
  }
}

.btn-line-primary {
  background-color: #ffffff;
  color: $primary-color;
  box-shadow: inset 0 0 0 1px $primary-color, inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;

  &:hover {
    background-color: rgba(0,132,191,0.4);
  }
}

.btn-line-tran {
  background-color: transparent;
  color: rgba(255,255,255,.5);
  box-shadow: inset 0 0 0 1px $primary-color, inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;
  display: flex;
  align-items: center;


  &:hover {
    background-color: rgba(0,132,191,0.4);
    color: #ffffff;
  }

  .ico {
    margin-right: 15px;
    font-size: 20px;
  }

  &.active {
    color: #ffffff;
  }
}

.btn-x {
  min-width: 250px;
}

.btn-width-100 {
  width: 100%;
}

.btn-delete {
  background: transparent;
  border: 1px solid transparent;
  color: #c4c4c4;

  &:hover {
    border-color: #c4c4c4;
    color: $text-color-default;
  }
}

.btn-small-icon {
  outline: none;
  display: inline-block;
  height: 24px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.25);

  &:hover {
    background: #d4d4d4;
    color: darkslategray;
    text-decoration: none;
  }
}

.btn-menu {
  border: 2px solid #ff0439;
  border-radius: 50%;
  width: 40px;
  padding: 0;
  height: 40px;
  line-height: 38px;
  cursor: pointer;
  background-color: #ff0439;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    border-color: $primary-color;
    color: #ffffff;
  }

  &:after {
    display: none!important;
  }
}
